.aboutVideo{
    width: 100vw;
}

.aboutBox {
    position: absolute;
    /* transform: rotate(90deg); */
    top: 2vh;
    height: 71vh;
    width: 30vw;
    font-family: Tahoma, Verdana, sans-serif;
}
.active {
    text-decoration: underline;
}

.actionButton {
    background-color: rgb(142, 142, 255);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

.bgImage {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bigText {
    animation-name: bigText;
    animation-duration:3s;
}

@keyframes bigText {
    from {
        font-size: 75%;
        width: 18%;
        left: 7vw;
    }
    65% {
        font-size: 240%;
        width: 35%;
        left: 0vw;
    }

}

.container {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.header {
    position: relative;
    /* to move elements position must be set to relative */
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;

}
.headerbox {
    position: relative;
    /* to move elements position must be set to relative */
    color: white;
    width: 28vw;
    padding: 5px;
    border: 3px solid white; 
    margin: 0px;
    font-size: 35px;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    top: 18vw;
    left: 3.0vw;
}

.headshot {
    position: absolute;
    width: 10vw;
    top: 9vh;
    padding: 0px;
    background-color: black;
    border: 2px solid black;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-duration: 6s;
}

@keyframes fadeInOpacity {
	from {
		opacity: 0;
	}
    50% {
        opacity:0;
    }
    
	to {
		opacity: 1;
	}
}

.grid {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height:72vh;
    /* position: relative; */
}

.grid > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
 
  }

.learnMore {
    position: relative;
    top: 20vw;
    left: 11.3vw;
}

.profile {
    position: absolute;
    top: 33vh;
    color: black;
    font-size: small;

}

.register {
    position: relative;
    top: 20vw;
    left: 11.3vw;
}

.slide-in {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}
      
slide-in:hover {
        width: 300px;

}

.wrapper {
  /* padding: 100px 30px; */
  width: 100%;
  margin: 0 auto;
  /* max-width: 9; */
}


/* .wrapper {
    background-color: rgb(142, 142, 255);
} */

#calendar {
    width: 80%;
}

#alex {
    /* left: 10vw; */
    grid-column: 1;
    grid-row: 1;
}
#alexcloud {
    /* left: 10vw; */
}

#atext {

    /* left: 25vw; */
}

#aleximage {
    /* left: 25vw; */
}

#lucas {
    
    /* left: 60vw; */
    grid-column: 2;
    grid-row: 1;
}

/* #ltext {
    
} */

/* #lucasimage {
    left: 65vw;
} */