{% extends "schedule/base.html" %}
{% load static %}
{% block content%}

<div class='wrapper'>
    <div class='header'> 
        About Us 
    </div> 
<div class='grid'>
        <div id='alex' class='container '>
            <img id= 'alexcloud' class='aboutBox' src={% static 'schedule/images/cloud_clipart.png' %}>
                <img class='headshot' id='aleximage' src={% static 'schedule/images/headshot_alex.jpg' %}>
                <p class='profile' id='atext'> Hi, my name is Alex (he/him) <br> I am the co-founder of Premium Babysitting. <br>
                I am incredibly excited to be returning to the <br> program again this year! Next year I am heading off <br> to the University
                of Waterloo, so I want to make <br> sure this last summer in Ottawa is a blast!! <br> Some of my hobbies include: <br> Soccer,
                Bouldering and playing the ukelele. <br> Hope to see you all this summer :)
                </p>
                
        </div>

        <div id='lucas' class='container'>
            <img id='lucascloud'  class='aboutBox' src={% static 'schedule/images/cloud_clipart.png' %}>
                <img class='headshot' id='lucasimage' src={% static 'schedule/images/lucas_headshot.jpg' %}>
                <p class='profile' id='ltext'> Hi, my name is Lucas (he/him) and I am the co-founder of Premium Babysitting. I can't
                wait to be back with the program this summer! Next year I will be attending McGill University.  </p>
        </div>
</div>
</div>

{% comment %} <div>
    <video class='aboutVideo' muted autoplay loop>
        <source src={% static "schedule/images/website_vid.MP4" %}>
    </video>
</div> {% endcomment %}

{% endblock %}

{% block javascriptvar %}
<script>
var activeTab = 'aboutUsButton'
</script>
{% endblock%}

{% block javascriptmethod %}
<script>
addBGImage("url({% static 'schedule/images/Cloud_wallpaper.jpg' %})")
</script>
{% endblock %}