{% extends "schedule/base.html" %}
{% load static %}

{% block content%}
<div id='cloudsbackground'>
    <div id='clouds' class='slide-in'>
        <img id='cloud1'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud2'  class='aclouds ' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud3'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud4'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud5'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud6'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud7'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud8'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud9'  class='aclouds cloud-grow' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud10' class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud11' class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud12' class='aclouds cloud-grow' src={% static 'schedule/images/cloud_clipart.png' %}>
</div>


    <div class='grid fade-in-text'>
        <div id='alex' class='container '>
            <img class='headshot' id='aleximage' src={% static 'schedule/images/Linkedin_alex_headshot.jpeg' %}>
                <p class='profile fade-in' id='atext'> Hi, my name is Alex (he/him), and I am the co-founder of Premium Babysitting. 
                I am incredibly excited to be returning to the program again this year! 
                <br> 
                <br>
                Next year I am heading off to the University of Waterloo, so I want to make sure 
                this last summer in Ottawa is a blast!
                <br>
                <br>
                Hobbies: Soccer, bouldering and playing the ukelele. 
                <br>
                <br>
                Hope to see you all this summer :)
                </p>
                
        </div>

        <div id='lucas' class='container'>            
            <img class='headshot' id='lucasimage' src={% static 'schedule/images/lucas_headshot.jpg' %}>
                <p class='profile fade-in' id='ltext'> Hi, my name is Lucas (he/him), and I am the co-founder of Premium Babysitting.
                I can't wait to be back with the program this summer! 
                <br>
                <br>
                Next year I will be attending McGill University, and I'm going 
                to miss you all so much. 
                <br>
                <br>
                Hobbies: Basketball, my new puppy Archie, and video games.
                <br>
                <br>
                Let's make this summer a blast!
        </div>
    </div>

</div>
{% endblock%}

{% block javascriptvar%}
<script>
var activeTab = 'aboutUsButton'
</script>
{% endblock %}