{% extends "schedule/base.html" %}
{% block content%}
<table id='calendar' class="table">
  <thead>
    <tr>
      <th scope="col">Dates</th>
      <th scope="col">Spots Availible</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


{% endblock %}


{% block javascript %}
<script>
var activeTab = 'calendarButton'

fetch('/api/v1')
    .then(response =>
        response.json()
        )
    .then(data => {
        let schedule = data
        console.log(schedule)
        for (let i=0; i < schedule.length; ++i) {
            let startDate = schedule[i].start_date;
            let endDate = schedule[i].end_date;
            let numChild = schedule[i].num_child;
            let table = document.getElementById("calendar");
            // Create an empty <tr> element and add it to the 1st position of the table:
            var row = table.insertRow(i+1);
            var cell1 = row.insertCell(0);
            cell1.innerHTML = startDate +' ' + endDate;
            var cell2 = row.insertCell(1)
            cell2.innerHTML = numChild;
            console.log('Done')
        }
    })
</script>

{% endblock%}
  