{% extends "schedule/base.html" %}
{% load static %}
{% block content%}
    <div class='headerbox'>
        Let the Fun Begin!
    </div>
    <div>
        <button type="button" class="btn actionButton learnMore btn-lg" onclick="window.location.href='/about'">Learn More</button>
    </div>
{% endblock %}

{% block javascriptvar %}
<script>

var activeTab = 'homeButton'

</script>
{% endblock %}

{% block javascriptmethod %}
<script>

document.addEventListener("DOMContentLoaded", addBGImage('scheduleimages/eric_right.jpg'))
addBGImage("url({% static 'schedule/images/eric_right.jpg' %})")
</script>
{% endblock%}