{% extends "schedule/base.html" %}
{% load static %}

{% block content%}
<div id='cloudsbackground'>
    <div id='clouds' class='slide-in'>
        <img id='cloud1'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud2'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud3'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud4'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud5'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud6'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud7'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud8'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud9'  class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
        <img id='cloud10' class='aclouds' src={% static 'schedule/images/cloud_clipart.png' %}>
    </div>
</div>
{% endblock%}

{% block javascriptvar%}
<script>
var activeTab = 'aboutUsButton'
</script>
{% endblock %}